/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ttc-tabelle-spielplan {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

.cozy {
	line-height: 1.3;
}